body {
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    font-size: 50px;

    .orange-color {
        color: orange;
    }

}

.about-content {
    margin-top: 120px;
}

.flexible-container {
    display: flex;
    margin-bottom: -30%;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
    height: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 10px;
}

.about {
    .about-img {

        img {
            width: 80%;


        }
    }
}

.about-one {
    margin: 300px 20px 20px 20px;

    .third {
        margin-bottom: 50px;
        margin-top: 200px;
    }

    .flexible-container {
        margin-bottom: 100px;

        .box-1 {
            border-left: 5px solid rgb(204, 0, 255);

        }

        .box-2 {
            border-left: 5px dotted violet;
        }

        .half-width {
            margin: 0 15px;
            padding: 10px;
            border-radius: 20px;
            box-shadow: 10px 10px 100px gray;


            .orange-color {
                color: orange;
            }
        }

    }


}

footer p {
    text-align: center;
    text-shadow: 2px 0px 0px red;
    color: orange;
}